.wrapper {
    width: 1000px;
    height: 800px;
    border: 1px solid black;
    position: relative;
    display: flex;
    gap: 5px;
    overflow: hidden;
}

.player {
    width: 30px;
    position: absolute;
    height: 30px;
    background-color: black;
}

.traps,
.monsters {
    height: 100%;
    height: 100%;
    position: relative;
}

.trap,
.monster {
    position: absolute;
}